@model IEnumerable<TheSpaceCinema.Web.Models.CinemaView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCinema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCinema)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCinema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCinema)
        </td>
        @*<td>
            @Html.ActionLink("Sale di Proiezione", "Index", "SalaCinematografica", new {​​​​ id = item.IdCinema }​​​​, null)
        </td>*@
    </tr>
}

</table>
